header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  text-align: right;
  color: #f4f4f4;
  position: fixed;
  top: 0;
  width: 100%;
  height: 8vh;
  padding-right: 15px;
}

body {
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
}

header .menu {
  display: none;
}

header .icon {
  display: flex;
  height: 20px;
  width: 20px;
  filter: invert(100%) sepia(38%) saturate(43%) hue-rotate(257deg)
    brightness(111%) contrast(91%);
}

header .menu-button {
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .time {
  font-size: 100px;
  color: #f4f4f4;
  margin-bottom: 25px;
}

main .date {
  font-size: 15px;
  margin-top: 10px;
}

main .timezone {
  font-size: 15px;
  margin-bottom: 25px;
}

main .apero-status {
  display: none;
}

main p {
  margin: 4px;
}

footer {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2vh;
  padding: 10px;
}

footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

footer .link img {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  margin: 10px-;
  padding: 1px;
}

footer .github img {
  border-radius: 100%;
  background-color: #cacaca;
}
footer .github img:hover {
  background-color: #696969;
}

footer .bmac img {
  border-radius: 0%;
  filter: invert(96%) sepia(10%) saturate(0%) hue-rotate(145deg) brightness(85%)
    contrast(88%);
}
footer .bmac img:hover {
  filter: invert(44%) sepia(0%) saturate(0%) hue-rotate(204deg) brightness(89%)
    contrast(81%);
}

footer .bmac-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
  padding-left: 10px;
}

button {
  padding: 15px 15px;
  background-color: #1a1a1a;
  color: #f4f4f4;
  border: 2px solid #f4f4f4;
  cursor: pointer;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
}

button:hover {
  background-color: #f4f4f4;
  color: #1a1a1a;
  .icon {
    filter: invert(5%) sepia(4%) saturate(74%) hue-rotate(314deg)
      brightness(92%) contrast(88%);
  }
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .clock {
    font-size: 40px;
  }

  .link img {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    margin-left: 2px;
  }

  button {
    font-size: 12px;
    padding: 10px 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .date {
    font-size: 16px;
    margin-top: 5px;
  }
}

/* for SVG color, use: https://codepen.io/sosuke/pen/Pjoqqp */
