:root {
  color-scheme: light dark;
}

/* Themes */

[data-theme="dark-theme"] {
  --text-color: #f4f4f4; /* Text color */
  --text-color-svg: brightness(0) saturate(100%) invert(82%) sepia(100%)
    saturate(15%) hue-rotate(355deg) brightness(109%) contrast(91%); /* #f4f4f4 */ /* Text color for svg icons */
  --background-color: #1a1a1a; /* Background color */
  --background-color-svg: brightness(0) saturate(100%) invert(5%) sepia(2%)
    saturate(48%) hue-rotate(314deg) brightness(101%) contrast(89%); /* #1a1a1a */ /* Background color for svg icons */
  --header-background-color: #000000; /* Header background color */
  --header-background-color-svg: brightness(0) saturate(100%) invert(0%)
    sepia(27%) saturate(6520%) hue-rotate(33deg) brightness(91%) contrast(106%); /* #000000 */ /* Header background color for svg icons */
  --footer-img-color: #cacaca; /* Footer image color */
  --footer-img-color-svg: brightness(0) saturate(100%) invert(93%) sepia(0%)
    saturate(28%) hue-rotate(159deg) brightness(84%) contrast(103%); /* #cacaca */ /* Footer image color for svg icons */
  --footer-img-color-hover: #696969; /* Footer image color when hovered */
  --footer-img-color-hover-svg: brightness(0) saturate(100%) invert(44%)
    sepia(0%) saturate(0%) hue-rotate(147deg) brightness(88%) contrast(83%); /* #696969 */ /* Footer image color for svg icons when hovered */
  --icon-unselected: brightness(0) saturate(100%) invert(44%) sepia(0%)
    saturate(0%) hue-rotate(147deg) brightness(88%) contrast(83%); /* #696969 */ /* Icon color when unselected */
}

[data-theme="light-theme"] {
  --text-color: #636363; /* Text color */
  --text-color-svg: brightness(0) saturate(100%) invert(43%) sepia(6%)
    saturate(0%) hue-rotate(193deg) brightness(87%) contrast(95%); /* #636363 */ /* Text color for svg icons */
  --background-color: #f4f4f4; /* Background color */
  --background-color-svg: brightness(0) saturate(100%) invert(82%) sepia(100%)
    saturate(15%) hue-rotate(355deg) brightness(109%) contrast(91%); /* #f4f4f4 */ /* Background color for svg icons */
  --header-background-color: #aaaaaa; /* Header background color */
  --header-background-color-svg: brightness(0) saturate(100%) invert(65%)
    sepia(0%) saturate(604%) hue-rotate(174deg) brightness(106%) contrast(87%); /* #aaaaaa */ /* Header background color for svg icons */
  --footer-img-color: #696969; /* Footer image color */
  --footer-img-color-svg: brightness(0) saturate(100%) invert(44%) sepia(0%)
    saturate(0%) hue-rotate(147deg) brightness(88%) contrast(83%); /* #696969 */ /* Footer image color for svg icons */
  --footer-img-color-hover: #cacaca; /* Footer image color when hovered */
  --footer-img-color-hover-svg: brightness(0) saturate(100%) invert(93%)
    sepia(0%) saturate(28%) hue-rotate(159deg) brightness(84%) contrast(103%); /* #cacaca */ /* Footer image color for svg icons when hovered */
  --icon-unselected: brightness(0) saturate(100%) invert(93%) sepia(0%)
    saturate(28%) hue-rotate(159deg) brightness(84%) contrast(103%); /* #cacaca */ /* Icon color when unselected */
}

/* Body */

body {
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color, #1a1a1a);
  color: var(--text-color, #f4f4f4);
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Header */

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  text-align: right;
  color: var(--text-color, #f4f4f4);
  position: fixed;
  top: 0;
  width: 100%;
  height: 6vmax;
  padding: 0.5vmax;
  padding-right: 2%;
}
header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    200deg,
    var(--header-background-color),
    var(--background-color) 69%
  );
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  z-index: -1;
}

header .menu {
  visibility: hidden;
  display: flex;
  justify-content: right;
  transition: opacity 300ms ease-in-out;
  opacity: 0;
}

header.menu-visible::before {
  opacity: 1;
}
header.menu-visible .menu {
  visibility: visible;
  transition: opacity 300ms ease-in-out;
  opacity: 1;
}

header .menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
  margin-right: 3%;
  height: 4vmax;
  width: 4vmax;
}

header img.icon {
  height: 2vmax;
  width: 2vmax;
}

header .menu-button {
  padding-left: 2%;
  padding-right: 2%;
  cursor: pointer;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
}

main .clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .time {
  font-size: 20vmin;
  display: inline;
  color: var(--text-color, #f4f4f4);
  margin-top: 0%;
  margin-bottom: 4vmin;
}

main .date {
  font-size: 1vmax;
  opacity: 50%;
  margin-top: 0%;
  margin-bottom: 1vmin;
}

main .time-zone {
  font-size: 1vmax;
  opacity: 50%;
  margin-top: 0%;
  margin-bottom: 4vmin;
}

main .apero-button {
  margin-bottom: 1vmin;
}

main .apero-info {
  display: flex;
  text-align: center;
  font-size: 1.2vmax;
}

main .apero-info-hidden {
  display: none;
}

main img.icon {
  height: 1.8vmax;
  width: 1.8vmax;
}

main img.icon {
  display: flex;
  filter: var(
    --text-color-svg,
    invert(82%) sepia(100%) saturate(15%) hue-rotate(355deg) brightness(109%)
      contrast(91%)
  );
}
main img.icon.unselected {
  filter: var(
    --icon-unselected,
    invert(44%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(88%)
      contrast(83%)
  );
}

/* Footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5vmax;
  padding: 0.5vmax;
}

footer .link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1%;
  padding-left: 1%;
  width: 1.5vmax;
  height: 1.5vmax;
}

footer .link img {
  cursor: pointer;
  border-radius: 0%;
  filter: var(
    --footer-img-color-svg,
    invert(93%) sepia(0%) saturate(28%) hue-rotate(159deg) brightness(84%)
      contrast(103%)
  );
}
footer .link img:hover {
  filter: var(
    --footer-img-color-hover-svg,
    invert(44%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(88%)
      contrast(83%)
  );
}

/* Global */

img.icon {
  display: flex;
  filter: var(
    --text-color-svg,
    invert(82%) sepia(100%) saturate(15%) hue-rotate(355deg) brightness(109%)
      contrast(91%)
  );
}
img.icon.unselected {
  filter: var(
    --icon-unselected,
    invert(44%) sepia(0%) saturate(0%) hue-rotate(147deg) brightness(88%)
      contrast(83%)
  );
}

button:hover img.icon {
  filter: var(
    --background-color-svg,
    invert(5%) sepia(2%) saturate(48%) hue-rotate(314deg) brightness(101%)
      contrast(89%)
  );
}

button {
  padding: 15px 15px;
  background-color: var(--background-color, #1a1a1a);
  color: var(--text-color, #f4f4f4);
  border: 2px solid var(--text-color, #f4f4f4);
  cursor: pointer;
  margin: 1vmax;
  border-radius: 50px;
}

button:hover {
  background-color: var(--text-color, #f4f4f4);
  color: var(--background-color, #1a1a1a);
}

.tooltip {
  position: relative;
  display: inline-block;
  font-style: italic;
  cursor: pointer;
}

.tooltip .tooltip-text {
  visibility: hidden;
  background-color: var(--header-background-color, #000000);
  color: var(--text-color, #f4f4f4);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-style: normal;
  position: absolute;
  z-index: 1;
  width: 32vmax;
  top: 100%;
  left: 50%;
  margin-left: -16vmax; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip .tooltip-text::after {
  content: " ";
  position: absolute;
  bottom: 100%; /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

/* for SVG color, use: https://codepen.io/sosuke/pen/Pjoqqp */
