/* https://github.com/bypedroneres/Minimalistic-Clock/ */

header {
  font-family: "Roboto Mono", monospace;
  text-align: right;
  background-color: #0f0f0f;
  color: #f4f4f4;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 15px;
}

body {
  font-family: "Roboto Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1a1a1a;
  color: #f4f4f4;
  margin: 0;
  padding: 0;
  height: 100vh;
}

footer {
  font-family: "Roboto Mono", monospace;
  display: flex;
  justify-content: center;
  background-color: #0f0f0f;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.clock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 100px;
  color: #f4f4f4;
  margin-bottom: 25px;
}

.date {
  font-size: 15px;
  margin-top: 10px;
}

.timezone {
  font-size: 15px;
  margin-bottom: 25px;
}

.apero-status {
  display: none;
}

/* Social Media Buttons */

.image-container {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links img {
  display: block;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 10px-;
}

button {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  padding: 15px 15px;
  background-color: #1a1a1a;
  color: #f4f4f4;
  border: 2px solid #f4f4f4;
  cursor: pointer;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 50px;
}

button:hover {
  background-color: #f4f4f4;
  color: #1a1a1a;
}

p {
  margin: 4px;
}

/* Media queries for responsiveness */
@media (max-width: 600px) {
  .clock {
    font-size: 40px;
  }

  .links img {
    width: 15px;
    height: 15px;
    margin-right: 2px;
    margin-left: 2px;
  }

  button {
    font-size: 12px;
    padding: 10px 12px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .date {
    font-size: 16px;
    margin-top: 5px;
  }
}
